* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#firstText {
    text-align: center;
    color: blue;
    margin: 10px;
}

.box {
    border: 1px solid gray;
    padding: 8px;
    margin: 20px;
}

.box h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.box0 .p1 {
    font-family: "Times New Roman", Times, serif;
}

.box0 .p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.box0 .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.box1 {
    font-family: 'Brush Script MT', cursive;
}

.box2 {
    font-size: 100%;
}

.box2 h1 {
    font-size: 2.5em;
}

.box2 h2 {
    font-size: 1.875em;
}

.box2 p {
    font-size: 0.875em;
}

.box3 {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.box4 {
    font-family: Muli, sans-serif;
    font-size: 16px;
}

.box4 h1 {
    font-family: "Space Mono", monospace;
    font-size: 46px;
}